html {
  height: 100%;
  width: 100%;
}
body {
   background-color: black; background-color: lightyellow; /*cascading?/ color changes*/
}
.fname  {border: 3px solid black;
}

.pnum{border: 3px solid darkgray;}
.classes{border: 3px solid lightslategray;} 
.labelcheck{font-family: fantasy; border: 3px solid rebeccapurple;} /*Inheritance */
.secretp{border: 3px solid mediumvioletred;}
h1, h2  {
  color: darkgreen;
  text-align: center;     /* font manipulation */
  font-family: verdana;
    text-transform: uppercase;
 
}
/*.radio1 {background-color: cornflowerblue;}*/
/*.radio1 label {background-color: cornflowerblue;}*/
p {

  font-family: cursive;
  font-size: 17px;
}
ul {
  background: #FFDAB9;
  padding: 20px;
}
ul {
  list-style-type: square;
}
ol {
  list-style-type: upper-roman;
}
p {

  margin: 15px 15px 10px 10px;
  padding: 20px;
  
}
ol      { border: outset 10pt; 
             border-collapse: separate;
             border-spacing: 15pt }
ul     { border: outset 10pt; 
             border-collapse: separate;
             border-spacing: 15pt }
a {vertical-align: 15px;}

ul {line-height: 80%;}

ol {line-height: 1.6;
} 
p.block {color: red;
        display: block;
}
img.html {float: right;
          width: 25%;
          height: auto}
